In [1]:
!pip install pandas --upgrade

Requirement already satisfied: pandas in c:\users\rgrk\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rgrk\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\rgrk\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rgrk\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\rgrk\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

In [3]:
list=[1,2,3,4,5]

In [4]:
series_1=pd.Series(list)

In [5]:
series_1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
Series_2=pd.Series([9,8,7,6,5])

In [9]:
Series_2

0    9
1    8
2    7
3    6
4    5
dtype: int64

In [11]:
Series_2.isin(series_1)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [12]:
Series_2.append(series_1)

0    9
1    8
2    7
3    6
4    5
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
Series_2.append(series_1, ignore_index=True)

0    9
1    8
2    7
3    6
4    5
5    1
6    2
7    3
8    4
9    5
dtype: int64

In [32]:
appended=Series_2.append(series_1, ignore_index=True)

In [33]:
appended

0    9
1    8
2    7
3    6
4    5
5    1
6    2
7    3
8    4
9    5
dtype: int64

In [28]:
appended.drop(8)

TypeError: 'list' object is not callable

In [25]:
appended.drop(labels = [1,2])

TypeError: 'list' object is not callable

In [26]:
appended

0    9
1    8
2    7
3    6
4    5
5    1
6    2
7    3
8    4
9    5
dtype: int64

In [27]:
appended.drop(9)

TypeError: 'list' object is not callable

In [29]:
list

[1, 2, 3, 4, 5]

In [30]:
series_1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
Series_2

0    9
1    8
2    7
3    6
4    5
dtype: int64

In [34]:
appended

0    9
1    8
2    7
3    6
4    5
5    1
6    2
7    3
8    4
9    5
dtype: int64

In [35]:
appended.drop(8)

0    9
1    8
2    7
3    6
4    5
5    1
6    2
7    3
9    5
dtype: int64

In [36]:
appended.drop(9)

0    9
1    8
2    7
3    6
4    5
5    1
6    2
7    3
8    4
dtype: int64

In [37]:
appended.drop(labels = [1, 2])

0    9
3    6
4    5
5    1
6    2
7    3
8    4
9    5
dtype: int64

In [38]:
appended

0    9
1    8
2    7
3    6
4    5
5    1
6    2
7    3
8    4
9    5
dtype: int64

In [39]:
appended.count()

10

In [43]:
appended.nunique()

9

In [44]:
appended.unique()

array([9, 8, 7, 6, 5, 1, 2, 3, 4], dtype=int64)

In [45]:
appended

0    9
1    8
2    7
3    6
4    5
5    1
6    2
7    3
8    4
9    5
dtype: int64

In [46]:
appended.sort_values()

5    1
6    2
7    3
8    4
4    5
9    5
3    6
2    7
1    8
0    9
dtype: int64

In [47]:
appended.sort_values(inplace = True)

In [48]:
appended

5    1
6    2
7    3
8    4
4    5
9    5
3    6
2    7
1    8
0    9
dtype: int64

In [49]:
appended.reset_index()

   index  0
0      5  1
1      6  2
2      7  3
3      8  4
4      4  5
5      9  5
6      3  6
7      2  7
8      1  8
9      0  9

In [51]:
appended.reset_index(drop=True)

0    1
1    2
2    3
3    4
4    5
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [52]:

appended

5    1
6    2
7    3
8    4
4    5
9    5
3    6
2    7
1    8
0    9
dtype: int64